<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
        {% block stylesheet %}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascript %}
            <script src="{{ asset() }}"></script>

        {% endblock %}
    </body>
</html>