{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <h1>Liste des articles</h1>
            {% for article in articles %}
                <div id="article-{{ article.id }}" data-id="{{ article.id }}">
                    <input type="checkbox"
                            {% if article.publier %}
                                checked
                            {% endif %}
                    >
                    {% include '@App/article/line_article.html.Twig' with {'article' : article} %}
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-8">
            <h1>Liste des commentaires</h1>
            {% for commentaire in commentaires %}
                {% include 'AppBundle:article:lineCommentaireEditDelete.html.twig' with {'commentaire' : commentaire} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        //ajout d'un listener sur l'édition d'un article
        $(function () {
            var inputs = $('input');

            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('click', function (e) {
                    var id = $(this).closest('div').attr('data-id');

                    var route = '{{ path('publishArticle', {'article':"PLACEHOLDER"}) }}';

                    route = route.replace("PLACEHOLDER", id);
                    $.post(route, function (data) {
                        $('#article-'+data.id).find('.title-article-a').replaceWith(data.html);
                    })
                })
            }
        });

        $(document).on('click', '.delete',  function (e) {
           e.stopImmediatePropagation();
           $.post($(this).attr('data-href'), function (data) {
               $(document).find('#commentaire'.concat(data.id)).remove();
           });
        });
        
        $(document).on('click', '.edit', function (e) {
            e.stopImmediatePropagation();
            $.get($(this).attr('data-href'), function (data) {
                $(document).find('#'+data.id).replaceWith(data.html);
                tinymce.remove();
                tinymce.init({
                    selector: '.tinymce',
                    height : 100,
                    width: 700,
                    init_instance_callback: function (editor) {
                        editor.on('change', function (e) {
                            tinyMCE.triggerSave();
                        });
                    }
                });
            })
        });

        $(document).on('click', '#Commentaire_save',  function (e) {
            e.stopImmediatePropagation();
            e.preventDefault();

            var form = $(this).closest('form');
            $.post(form.attr('action'), form.serialize(), function (data) {
               $('form').replaceWith(data.html);
            });

        })



    </script>
{% endblock %}